.app{
  display:grid;
  place-items:center;
  height:105vh;
  background-color: #dadbf3
}

.app_body{
  display: flex;
 background-color: #ededed;
 margin-top:-50px;
 height:96vh;
 width:94vw;
 box-shadow:-1px 4px 20px -6px rgba(0, 0,0, 0.75)
}